/* ----------------------------------------------------------------
	COURSE STYLESHEET
-----------------------------------------------------------------*/

:root {
	--themecolor: #267DF4;
	--themecolorrgba: 38, 125, 244;
}

.ls--2 { letter-spacing: -2px }

.bg-theme-light, .section {
	background-color: rgba(38, 125, 244, 0.05);
	background-color: rgba(var(--themecolorrgba), 0.05);
	height:auto !important;
}

/* Headers
---------------------------------------------------------------------------- */
.dark .top-links li > a {
	color: #EEE;
	font-weight: 400;
	text-transform: none;
}

.dark #top-social { border-left: 1px solid rgba(255,255,255,0.1); }
.dark #top-social li a { color: #FFF; }
#top-social li, #top-social li a, #top-social li .ts-icon, #top-social li .ts-text { font-weight: 400; }
.navbar-expand-lg .navbar-nav .nav-item .nav-link {
	font-size: 15px;
	font-weight: 600;
	padding-left: 13px;
	padding-right: 13px;
}
.navbar-expand-lg .navbar-nav .nav-item:first-child .nav-link { margin-left: 0; }
.navbar-expand-lg .navbar-nav .nav-item:not(.active) .nav-link { color: #444; }
.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link { color: var(--themecolor) }

#primary-menu ul li > a {
	text-transform: none;
	font-weight: 400;
	letter-spacing: 0;
	font-size: 16px;
	color: #333 !important;
}

#primary-menu ul ul li > a {
	font-weight: 400;
	font-size: 14px;
}

#header-wrap .button {
	text-transform: none;
	font-weight: 400;
	text-shadow: none;
	letter-spacing: 0;
	font-size: 14px;
}

#header-wrap .header-buttons {
	display: inline-block;
	float: right;
	margin-top: 20px;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}


/* Content
---------------------------------------------------------------------------- */
.bg-primary {
	background: linear-gradient(90deg, rgba(47,70,228,1) 0%, rgba(55,176,209,1) 100%);
}

.hero-features {
	transform: translateY(-90px);
	padding: 40px 30px;
	max-width: 80%;
	height:auto;
	margin-left: auto;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border-left: 4px solid rgba(0, 0, 0, .2);
}

.hero-features i {
	font-size: 24px;
	line-height: 1.4;
}

.hero-features h5 {
	font-size: 15px;
	line-height: 1.6;
}

.after-dots:not(:first-child):after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0%;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	font-size: 20px;
	background-color: #000;
	margin-top: -5px;
	margin-left: -5px;
}

.before-heading {
	display: inline-block;
	font-size: 12px;
	font-style: normal;
	background-color: rgba(38, 125, 244, 0.1);
	background-color: rgba(var(--themecolorrgba), .1);
	color: #267DF4;
	color: var(--themecolor);
	padding: 3px 8px;
	border-radius: 2px;
	font-weight: 600;
}

.border-light { border-color: #EEE !important; }

.card { border-radius: 8px; }
.card-img-top {
	border-top-left-radius: calc(8px - 1px);
    border-top-right-radius: calc(8px - 1px);
}

label{text-transform: none !important; font-size:18px; font-weight:400; color:#333}

#price-carousel .owl-stage {
	display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.price-list .card-body { padding: 20px 30px !important; }

.price-list .price-title {
	font-size: 48px;
	font-weight: 600;
	color: #267DF4;
	color: var(--themecolor);
}

.price-list .price-title small {
	position: relative;
	font-size: 16px;
	color: #AAA;
	top: -4px;
	margin-left: 6px;
}

.price-list .list-group-item:first-child,
.price-list .list-group-item:last-child { border-bottom: 0; }

.card-img-overlay * { position: relative; }

.card-img-overlay:before {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(4,4,4,.45);
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.owl-carousel .owl-dots .owl-dot {
	width: 20px;
    height: 5px;
    border-radius: 4px;
    transition: all .3s ease-out;
    opacity: .3;
}

.owl-carousel .owl-dots .owl-dot.active { width: 45px; }

#price-carousel .owl-item {
	opacity: 0;
	transform: translateY(20px);
	transition: all .4s .1s ease-out;
}

#price-carousel .owl-item.active {
	opacity: 1;
	transform: translateY(0);
}

#image-carousel { overflow: visible; }

#image-carousel .carousel-column {
	display: flex;
	flex-direction: column;
	flex: 1 0;
	margin: 0;
	padding: 0;
	list-style: none;
}
#image-carousel .column-1 { padding-right: 12px; }
#image-carousel .column-2 { padding-left: 12px; }

#image-carousel .carousel-column-container {
	display: flex;
	flex-direction: row;
}

#image-carousel .carousel-grid-item {
	display: flex;
	flex: 1;
	margin: 0;
	padding: 0;
}

#image-carousel .carousel-grid-item .item {
	flex: 1;
	position: relative;
	width: 100%;
	min-height: 150px;
	margin-bottom: 24px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-radius: 5px;
	transition: all .2s ease-out;
}

.button:hover,
#top-account:hover a,
#image-carousel .carousel-grid-item:hover a.item {
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
	transform: translateY(-3px);
	opacity: .95;
}

#image-carousel .carousel-grid-item .item blockquote { z-index: 1; }

.img-overlay:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-color: rgba(38, 125, 244, 0.8);
	background-color: rgba(var(--themecolorrgba), 0.8);
}

.testimonials .container:before,
.testimonials .container:after {
	content: "\e7ad";
	font-family: 'font-icons';
	position: absolute;
	top: -38px;
	left: 20px;
	font-size: 80px;
	color: rgba(38, 125, 244, 0.2);
	color: rgba(var(--themecolorrgba), 0.2);
}

.testimonials .container:after {
	content: "\e7ae";
	top: auto;
	left: auto;
	right: 20px;
	bottom: -45px;
}

.testimonials .testi-content p {
	font-style: normal;
	color: #000;
}

.mfp-iframe-holder .mfp-close,
.testi-stars i {
	background-color: #267DF4;
	background-color: var(--themecolor);
	font-size: 14px;
	color: #FFF;
	padding: 1px 5px;
	border-radius: 2px;
}

.feature-box.fbox-plain.fbox-small {
	padding-left: 50px;
	margin-bottom: 40px;
}

.feature-box .fbox-icon { top: 3px; }

.feature-box.fbox-plain.fbox-small h3 {
	text-transform: none;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0;
}

#top-account a,
.masonry-thumbs a img,
.button { transition: all .2s ease-out; }

.feature-box.fbox-plain.fbox-small p { margin-left: 0; }

.button.button-border {
	border-color: #267DF4;
	border-color: var(--themecolor);
	color: #267DF4;
	color: var(--themecolor);
}

/* Play Icon
-----------------------------------------------------------------*/
.play-video i {
	position: relative;
	padding-left: 6px;
	width: 60px;
	height: 60px;
	line-height: 61px;
	border-radius: 50%;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.85);
	text-align: center;
	font-size: 24px;
	color: #111;
	transition: all .3s ease;
	box-shadow: 0 0 1px 15px rgba(255,255,255,.04);
	-webkit-backface-visibility: hidden;
}

.play-video:hover i {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}


.play-video-blue i {
	position: absolute;
	padding-left: 5px;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	line-height: 81px;
	border-radius: 50%;
	z-index: 1;
	background: linear-gradient(90deg, rgba(47,70,228,1) 0%, rgba(55,176,209,1) 100%);
	background-color: var(--themecolor);
	text-align: center;
	font-size: 24px;
	color: #FFF;
	margin-top: -40px;
	margin-left: -40px;
	transition: transform .3s ease-out;
	-webkit-backface-visibility: hidden;
}


.play-video-blue:hover i {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}


.play-video-blue-enroll i {
	padding-left: 5px;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	line-height: 81px;
	z-index: 1;
	color: #fff !important;
	background: linear-gradient(90deg, rgba(47,70,228,1) 0%, rgba(55,176,209,1) 100%);
	text-align: center;
	font-size: 24px;
	color: #FFF;
	transition: transform .3s ease-out;
	-webkit-backface-visibility: hidden;
}


.play-video-blue:hover i {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.blue{
	color: #267DF4 !important;
}

.icon-star3,.icon-star-half-full{color:#f5c15b !important}

.mfp-container { position: fixed; }
.mfp-iframe-holder .mfp-close {
	width: 40px;
	text-align: center;
	font-size: 24px;
	top: -20px;
	right: -20px;
}
.mfp-iframe-holder { padding: 20px; }
.mfp-iframe-holder .mfp-content {
	max-width: 100%;
	height: 100%;
}

#locations-carousel .owl-stage-outer { padding-bottom: 40px  }

#locations-carousel .owl-item.active .card {
	opacity: 1;
	transform: translateY(0px);
}

#locations-carousel.owl-carousel .owl-nav [class*=owl-] {
	opacity: 1;
	background-color: #FFF;
	color: #267DF4;
	color: var(--themecolor);
}

#locations-carousel.owl-carousel .owl-dots {
	position: relative;
    background: #FFF;
    width: 150px;
    padding: 10px;
	margin: 0 auto;
	bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#locations-carousel.owl-carousel .owl-dots .owl-dot { margin: 0 4px; }

.masonry-thumbs iframe { padding: 0 1px 1px 0; }
.masonry-thumbs a img:hover { opacity: .9; }

.ipost .author-image,
.ipost .author-image img {
	width: 50px;
	height: 50px;
}

.ipost .author-meta { margin-top: 24px; }

.ipost .entry-meta li {
	display: block;
	float: none;
    font-size: 14px;
    font-style: normal;
    margin-bottom: 8px;
}

.ipost .entry-meta li:first-child a { color: #222; }

.ipost .entry-meta li:before { display: none; }

.ipost .entry-title h3 {
	font-size: 17px;
	line-height: 1.6;
}

.entry-content p {
	display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
}

#footer .list-unstyled li a {
	opacity: .7;
	color: #FFF;
	font-weight: 300;
}

ul.list-numbers li {
	list-style: decimal inside;
	margin-bottom: 20px;
}

#locations-carousel .card {
	position: relative;
	right: auto;
	margin: 0 auto;
	bottom: 0;
	margin-top: -30px;
	padding: 20px;
}

/* Course Categories
---------------------------------------------------------------------------- */
.course-categories .card a span {
	display: block;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.course-categories .card a span i {
	display: block;
	margin-bottom: 5px;
	font-size: 20px;
}

.hover-effect {
	-webkit-transition:  transform .25s ease, box-shadow .3s ease;
	-o-transition:  transform .25s ease, box-shadow .3s ease;
	transition:  transform .25s ease, box-shadow .3s ease;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	box-shadow: none;
	border: 0;
}

.hover-effect:hover {
	-webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.course-card .card-footer { border-top-color: #EEE; }

.rating-stars i { color: #f4c150; }

.course-card .card-title a { color: #333; line-height: 25px}

.course-card .card-title a:hover { color: var(--themecolor); }

.course-card  .card-title-sub { font-size: 12px; }

.footer-img { margin-top: -90px; }

/* Responsive Device less than 768px (.device-sm <)
-----------------------------------------------------------------*/
@media (max-width: 767.98px) {
	#top-account { margin: 29px 0; }
	#top-account a { display: block; }
	#top-account a span {
		display: none;
	}

	.footer-img { margin-top: 0; }
}

/* Responsive Device more than 992px (.device-md >)
-----------------------------------------------------------------*/
@media (min-width: 992px) {

	#top-account { right: 0; }

	#locations-carousel .card {
		opacity: 0;
		position: absolute;
		right: 40px;
		bottom: -30px;
		padding: 20px 30px;
		width: 100%;
		max-width: 320px;
		border: 0;
		border-radius: 4px;
		transform: translateY(20px);
		transition: all .4s .1s ease-out;
	}

	.heading-block h2 {
		font-size: 42px;
		letter-spacing: -1px;
	}

	#locations-carousel.owl-carousel .owl-dots {
		position: absolute;
		top: auto;
		left: 50%;
		bottom: 45px;
		margin-left: -75px;
	}

}


.bg-blue{background: linear-gradient(90deg, rgba(47,70,228,1) 0%, rgba(55,176,209,1) 100%); color:#f2f2f2}


.inner-form {
	width: 100%;
	margin-bottom: 17px;
}

.inner-form .input-field {
	height: 70px;
	width: 100%;
	position: relative;
}

.inner-form .input-field input {
	height: 100%;
	width: 100%;
	background: transparent;
	border: 0;
	background: #fff;
	display: block;
	width: 100%;
	padding: 10px 32px 10px 70px;
	font-size: 18px;
	color: #666;
	border-radius: 34px;
}

.inner-form .input-field input.placeholder {
	color: #ccc;
	font-size: 18px;
}

.inner-form .input-field input:-moz-placeholder {
	color: #ccc;
	font-size: 18px;
}

.inner-form .input-field input::-webkit-input-placeholder {
	color: #ccc;
	font-size: 18px;
}

.inner-form .input-field input:hover, .s006 form .inner-form .input-field input:focus {
	box-shadow: none;
	outline: 0;
}

.inner-form .input-field .btn-search {
	width: 70px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	left: 0;
	height: 100%;
	background: transparent;
	border: 0;
	padding: 0;
	cursor: pointer;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	align-items: center;
}

.inner-form .input-field .btn-search svg {
	fill: #ccc;
	width: 30px;
	height: 30px;
	transition: all .2s ease-out, color .2s ease-out;
}

.inner-form .input-field .btn-search:hover, .inner-form .input-field .btn-search:focus {
	outline: 0;
	box-shadow: none;
}

.inner-form .input-field .btn-search:hover svg, .inner-form .input-field .btn-search:focus svg {
	fill: #666;
}

.suggestion-wrap {
	padding: 0 15px;
}

 .suggestion-wrap span {
	font-size: 14px;
	font-family: 'Helvetica', sans-serif;
	display: inline-block;
	background: rgba(0, 0, 0, 0.6);
	padding: 0 15px;
	line-height: 32px;
	color: #fff;
	border-radius: 16px;
	margin-right: 10px;
	margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
	.inner-form .input-field {
		margin-bottom: 20px;
		height: 50px;
	}
	.inner-form .input-field input {
		padding-left: 55px;
		font-size: 16px;
	}
	.inner-form .input-field .btn-search svg {
		width: 26px;
		height: 26px;
	}
}

/* ----- Hero Widget ----- */
#widget-subscribe-form {
	display: block;
	padding: 8px;
	background-color: #FFF;
	border: 1px solid #EEE;
	border-radius: 3px;
	box-shadow: 0 0 30px 4px rgba(0,0,0,0.15);
	transition: box-shadow .4s linear;
	border-radius: 34px;
}

#widget-subscribe-form:hover { box-shadow: 0 0 42px 4px rgba(0,0,0,.3) !important; }

.input-lg { height: 50px;border-radius: 34px; }

.clients { max-height: 50px; }


.container-fluid {
	padding-left: 120px;
	padding-right: 120px;
}

.device-lg .container-fluid {
	padding-left: 80px;
	padding-right: 80px;
}

.device-sm .container-fluid,
.device-xs .container-fluid {
	padding-left: 40px;
	padding-right: 40px;
}


.share-buttons {
	margin-top:-60px;
	margin-left:220px;
}

.share-buttons-trigger {
	height: 39px;
	width: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	background-color:#d1b015;
	font-size: 16px;
	transition: .4s;
	cursor: default;
	border-radius:3px;
}

.share-buttons-trigger:hover{text-decoration:none; color:#fff}

.share-buttons-trigger i {
	margin-left:-2px;
	margin-top:-1px;
}

.share-buttons-content {
	position: relative;
	margin-top:-39px;
	margin-left:42px;
	width: calc(100% - 60px);
	padding-top:-60px !important;
}


.share-buttons-icons {
	position: absolute;
	left: 5px;
	top: 0;
	padding: 0;
	margin: 0;
	opacity: 0;
	transform: translateX(-10px);
	transition: all .4s cubic-bezier(.5, -.41, .19, 2)
}

.share-buttons:hover .share-buttons-icons {
	opacity: 1;
	transform: translate(0)
}

.share-buttons-icons li {
	display: inline-block;
	float: left
}

.share-buttons-icons li:first-child a {
	border-radius: 4px 0 0 4px
}

.share-buttons-icons li:last-child a {
	border-radius: 0 4px 4px 0
}

.share-buttons-icons li a {
	height: 40px;
	width: 44px;
	display: inline-block;
	line-height: 44px;
	text-align: center;
	background-color: #333;
	color: #fff;
	font-size: 14px
}

.share-buttons-icons li a i {
	position: relative;
	top: 1px
}

.bookmark-trigger {
	margin-top: 15px; background-color: #fff !important; color:#C53737 !important;padding: 0 16px;
}


.preview-trigger{
	border-radius:34px !important; margin-top: 15px !important;
}


/* Team/Volunteers
-----------------------------------------------------------------*/
.team-title { font-size: 17px; }

.team-title small {
	display: block;
	font-size: 13px;
	color: #AAA;
}

.team-image img { border-radius:50%;border-radius: 6px }

.team.full-border {
	border: 5px solid  #C6C09C;
	border-color: var(--themecolor);
	border-radius: 4px;
}

.team-image img { border-radius: 6px }

.label-price {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: .5px;
	color: #fff;
	text-transform: uppercase;
	height: 26px;
	min-width: 65px;
	padding: 0 10px;
	text-align: center;
	border-radius: 50px;
	position: absolute;
	z-index: 3;
	top: 1.23809524em;
	right: 1.23809524em;
}

.button-blue{background: linear-gradient(90deg, rgba(47,70,228,1) 0%, rgba(55,176,209,1) 100%) !important;}

.user-cpt a:link {font-size:16px; color:#333;font-weight:600 !important; text-decoration: none}
.user-cpt a:hover {font-size:16px; color:#007bff !important;font-weight:600 !important;text-decoration: none}
.user-cpt a:visited{font-size:16px; color:#333 !important;font-weight:600 !important;text-decoration: none}
.user-cpt p{color:#666}
.hd-cp{font-size:30px}
.lt15 {line-height: 25px}
.sb-count {font-size:13px;color:#7f7f7f}
.sb-count-lg {font-size:16px;color:#7f7f7f}
.sb-count-white {font-size:13px;color:#f2f2f2}
.sb-count-white-lg {font-size:16px;color:#f2f2f2}
.sb-left{float:left}
.sb-right{float:right}

@media screen and (min-width: 756px) and (max-width: 1000px) {
	.sb-left,.sb-right {
		float:left !important;
	}
}



/* Preloader
-----------------------------------------------------------------*/
#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	z-index: 1001;
}


#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #fff;
	z-index: 1000;
	-webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateX(0);  /* IE 9 */
	transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
	left: 0;
}

#loader-wrapper .loader-section.section-right {
	right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateX(-100%);  /* IE 9 */
	transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateX(100%);  /* IE 9 */
	transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
	visibility: hidden;

	-webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateY(-100%);  /* IE 9 */
	transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

	-webkit-transition: all 0.3s 1s ease-out;
	transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
	display: none;
}
.no-js h1 {
	color: #222222;
}


